<form [formGroup]="myForm" (ngSubmit)="submitForm()" class="text-center">
  <div class="custom-form-field">
    <label for="namePlan"><b>Plan</b></label>
    <input type="text" id="namePlan" placeholder="Plan" formControlName="namePlan" name="namePlan"
      class="custom-input"/>
  </div>

  <div class="custom-form-field">
    <label for="numberMaxProfile"><b>Número máximo de Perfiles</b></label>
    <input type="number" id="numberMaxProfile" placeholder="Número máximo de Perfiles" formControlName="numberMaxProfile" name="numberMaxProfile"
      class="custom-input"/>
  </div>

  <div class="custom-form-field">
    <label for="description"><b>Descripción</b></label>
    <input type="text" id="description" placeholder="Descripción" formControlName="description" name="description"
      class="custom-input"/>
  </div>

  <!-- <div class="custom-form-field">
    <label for="isSuitableForAdults"><b>¿Esta categoria es adecuada para menores de edad?</b></label>
    <select name="isSuitableForAdults" id="isSuitableForAdults" formControlName="isSuitableForAdults"
      class="custom-input">
      <option [ngValue]="item.value" *ngFor="let item of comboOptions"> {{ item.name }}</option>
    </select>
  </div> -->

  <div *ngFor="let categoryRs of categoriesRs; let i = index">
    <input [value]="categoryRs.id" name="idCategories" type="checkbox">
    <span> {{categoryRs.nameCategory}}</span>
  </div>

  <div class="d-flex justify-content-between gap-2">
    <button type="submit" class="btn btn-success btn-sm" [disabled]="myForm.invalid">
      Guardar
    </button>
    <button type="button" (click)="closeModal()" class="btn btn-outline-danger btn-sm">
      Cancelar
    </button>
  </div>
</form>
